# Salesforce DX
.sfdx/
.sf/
.localdevserver/
.vscode/
config/.env

# LWC Jest
**/__tests__/**
**/*.test.js

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Apex
**/*.apex-meta.xml~

# Compiled files
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE
*.iml
*.ipr
*.iws
.idea/
*.sublime-project
*.sublime-workspace
.project
.classpath
.settings/

# Backup files
*~
*.swp
*.bak
*.tmp
*.orig

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Build artifacts
.testresults/
IlluminatedCloud/
mdapioutput/

# Environment variables
.env
.env.local

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# Documentation
/docs